@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
/* MENU */
.menu{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.menu__header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.menu__logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}
.menu__ul{
    display: flex;
    list-style: none;
}
.menu__li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.menu__li a:hover{
    color: #1CB698;
}
.nav-responsive{
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* SECCION I N I C I O */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(assets/img/fondo1.png);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio__banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio__img{
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio__h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.inicio__h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio__redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio__redes a:hover{
    background-color: #1CB698;
}

/* sobre mi */
.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.sobremi__seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi__h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.sobremi__p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: justify;
}
.sobremi__p span{
    color: #1CB698;
    font-weight: bold;
}
.sobremi__fila{
    display: flex;
}
.sobremi__col{
    width: 50%;
}
.sobremi__h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi__ul{
    list-style: none;
}
.sobremi__li{
    margin: 12px 0;
}
.sobremi__li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;
}
.sobremi__li span{
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi__intereses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sobremi__interes{
    width: 30%;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.sobremi__interes:hover{
    background-color: #1CB698;
}
.sobremi__interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi__button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremi__button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.sobremi__button:hover .overlay{
    width: 100%;
}

/* SECCION S K I L L S */
.skills{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.skills__seccion{
    max-width: 1100px;
    margin: auto;
}
.skills__h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.skills__fila{
    display: flex;
}
.skills__col{
    width: 50%;
    padding: 0 20px;
}
.skills__h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills__skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills__barra{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills__progreso{
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills__barra span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills__skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 50%;}
}

.skills__skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills__skill .angular{
    width: 0%;
    animation: 2s angular forwards;
}
@keyframes angular {
    0%{width: 0%;}
    100%{width: 50%;}
}

.skills__skill .react{
    width: 0%;
    animation: 2s react forwards;
}
@keyframes react {
    0%{width: 0%;}
    100%{width: 50%;}
}

.skills__skill .nodejs{
    width: 0%;
    animation: 2s nodejs forwards;
}
@keyframes nodejs {
    0%{width: 0%;}
    100%{width: 40%;}
}

.skills__skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills__skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills__skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills__skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills__skill .logic{
    width: 0%;
    animation: 2s logic forwards;
}
@keyframes logic {
    0%{width: 0%;}
    100%{width: 70%;}
}
/* SECCION CURRICULUM */
.curriculum{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.curriculum__seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum__h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.curriculum__fila{
    display: flex;
    justify-content: space-between;
}
.curriculum__col{
    width: 49%;
    padding: 0 20px;
}
.curriculum__h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.curriculum__fila .izquierda{
    border-right: 2px solid #252A2E;
}
.curriculum__fila .derecha{
    border-left: 2px solid #252A2E;
}
.curriculum__item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}
.curriculum__h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum__casa{
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum__fecha{
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}
.curriculum__p{
    line-height: 24px;
}
.curriculum__fila .izq{
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}
.curriculum__fila .der{
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}
.curriculum__item .conectori{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum__item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum__item .conectord{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum__item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 4px;
}
/* SECCION PORTFOLIO */
.portfolio{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.portfolio__seccion{
    max-width: 1100px;
    margin: auto;
}
.portfolio__h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portfolio__galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio__proyecto{
    position: relative;
    /* max-width: 340px; */
    max-width: 390px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio__img{
    width: 100%;
    display: block;
}
.portfolio__overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio__overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio__overlay:hover{
    opacity: 1;
}
.portfolio__overlay:hover h3{
    margin-bottom: 0px;
}
/* SECCION CONTACTO */
.contacto{
    background-image: url(assets/img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contacto__seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto__h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contacto__fila{
    display: flex;
}
.contacto__col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto__input,
.contacto__textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contacto__button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto__button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.contacto__button:hover .overlay{
    width: 100%;
}
.contacto__img{
    width: 100%;
}
.contacto__info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto__ul{
    list-style: none;
}
.contacto__li{
    margin-bottom: 20px;
}
.contacto__li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}
.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #28a745;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease, bottom 0.5s ease;
  }
  
  .toast.show {
    visibility: visible;
    opacity: 1;
    bottom: 50px;
  }
  
/* footer */
.footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
.footer__redes{
    margin-bottom: 20px;
}
.footer__a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.footer__a:hover{
    background-color: #1CB698;
}
.footer__arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
/* Projects */
.project__volver{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 10%;
    top: 75px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
.project__volver i{
    margin: 0 auto;
    padding: 33%;
}
.curriculum__h3 {
    color: #1CB698;
    font-size: 45px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.curriculum__item a{
    text-align: none;
    color: #1CB698;
    transition: .5s;
}
.curriculum__seccion a:hover {
    color: #fff;
}
/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .sobremi__fila{
        display: block;
    }
    .sobremi__col{
        width: 100%;
    }

    .skills__fila{
        display: block;
    }
    .skills__col{
        width: 100%;
    }
    .skills__barra{
        width: 100%;
    }

    .curriculum__fila{
        display: block;
    }
    .curriculum__col{
        width: 100%;
        padding: 0;
    }
    .curriculum__fila .izq{
        margin-right: 0;
    }
    .curriculum__fila .der{
        margin-left: 0;
    }
    .curriculum__fila .derecha{
        margin-left: 0;
    }
    .project__volver{
        top: 15px;
    }

    .portfolio__galeria{
        display: block;
        width: 100%;
    }
    .portfolio__proyecto{
        max-width: 100%;
    }
    .portfolio__img{
        width: 100%;
    }
    .contacto__fila{
        display: block;
    }
    .contacto__col{
        width: 100%;
    }
}
